
{%extends 'oda/base.html'%}
{%block content%}
	<title>Driver Detail</title>
	
<div class="container">
	<h2>Campaign Driver Details</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Car Model</th>
				<th>Phone Number</th>
				<th>Distance Covered</th>
				<th>Generate HeatMap</th>
			</tr>
		</thead>
		<tbody>
		{%for dat in driver_data%}
			<tr>
				<td>{{dat.driver_name}}</td>
				<td>{{dat.car_model.car_model}}</td>
				<td>{{dat.phone_no}}</td>
				<td>xyz</td>
				<td><a href="{%url 'oda:driver_posdata' dat.pk%}">Driver HeatMap</a></td>

			</tr>
		{%endfor%}
		</tbody>
	</table>
</div>
{%endblock%}


